header{
    width: 100%;
    background-color: rgb(127, 26, 195);
    color: aliceblue;
    @include d-flex(space-between,center);
    
    ul{
        cursor: pointer;
        color: aliceblue;
        list-style: none;
        @include d-flex(center,center);
    }
    a{
        background-color: rgb(255, 255, 255);
        color: rgb(0, 104, 195);
        padding: 15px;
        border-radius: 40px;
        text-decoration: none;
    }
}