*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'iransans';
}


/* .parent{
    width: 500px;
    height: 250px;
    background-color: rgb(129, 129, 254);
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    
}

.child{
    width: 150px;
    height: 80px;
}
.child1{
    background-color: rebeccapurple;
}
.child2{
    background-color: darkgoldenrod;
}
.child3{
    background-color: crimson;
} */

/* .products{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: chartreuse;
    justify-content: center;
}

.product{
    width: 200px;
    height: auto;
    border: 1px solid #000;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: #d1d1d1;
}
.img_product{
    width: 50%;
    border-radius: 50%;
}

.btn_add{
    border: none;
    padding: 5px 10px;
    background-color: rebeccapurple;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
} */

@font-face {
    font-family: 'iransans';
    src: url(../fonts/iransansx/IRANSansXRegular.ttf);
}



header{
    background-color: rgb(108, 108, 108);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.menu ul li{
    list-style: none;
}
.menu ul {
    display: flex;
    gap: 10px;
    color: #fff;
}

.search_bar .search_inp{
    padding: 5px 10px;
    border-radius: 8px;
    border: none;
}

.search_bar .btn_search{
    padding:  5px 10px;;
    border-radius: 8px;
    border: none;

}

.icons button{
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}