* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.parent {
  width: 300px;
  height: 450px;
  /* background-color: saddlebrown; */
  /* background-image: linear-gradient(to bottom left ,red,green); */
  /* background-image: linear-gradient(160deg ,rgba(18, 177, 189, 0.797),rgb(203, 203, 203)); */
  /* background-image: radial-gradient(red,blue); */
  background: rgb(4, 36, 109);
  /* background: linear-gradient(
    90deg,
    rgba(227, 230, 86, 1) 0%,
    rgba(3, 31, 81, 1) 21%,
    rgba(182, 63, 143, 1) 33%,
    rgba(4, 73, 144, 1) 64%,
    rgba(5, 97, 179, 1) 79%,
    rgba(9, 9, 121, 1) 84%,
    rgba(0, 212, 255, 1) 100%
  ); */
  position: relative;
  margin: 20px auto;
}

.child1 {
  width: 100px;
  height: 100px;
  background-color: rebeccapurple;
  position: absolute;
}

.child2 {
  width: 100px;
  height: 100px;
  background-color: rgb(94, 255, 65);
  margin: 10px 0;
  position: absolute;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: animTrans .5s ease-in infinite alternate;
}

.fix_menu {
  background-color: black;
  width: 100vw;
  height: 120px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  bottom: 0;
}

.box {
  width: 100px;
  height: 100px;
  background-color: rebeccapurple;
}


@keyframes animTrans {
    0%{
        bottom: 0;
    }
    50%{
        left: 50%;
        rotate: 360deg;
    }
    100%{
        bottom: 50%;
    }
}